<h3 style=" text-align: center; margin-top: 75px;">{{title}}</h3>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sıra</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Website</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let candidate of candidate">
            <td>
                {{candidate.id}}

            </td>
            <td>
                {{candidate.name}}
            </td>
            <td>
                {{candidate.username}}
            </td>
            <td>
                {{candidate.phone}}
            </td>
            <td>
                {{candidate.email}}
            </td>
            <td>
                {{candidate.website}}
            </td>
        </tr>
    </tbody>
</table>