<div class="text-center">
    <img src="https://media-exp1.licdn.com/dms/image/C560BAQFuWiUHNauVPw/company-logo_200_200/0?e=2159024400&v=beta&t=m-krUJ5CIdJT3816rkX-_M8TJxbU7Q3tOq0XAQVn5fc"
        class="img-fluid" alt="Responsive image">
</div>
<p><b>Testinium,</b> Saha Bilgi Teknolojileri arge mühendisleri tarafından geliştirilmiş %100 yerli bir üründür. Temel
    olarak web ve mobil gibi platformlarda Selenium ve Appium gibi platformları koşarak testlerinizin planlanması,
    raporlanması ve yönetimini sağlamaktadır.
    <br>
    <b>Testinium Cloud</b> platformu üzerinde 200' den fazla gerçek cihaz ve sim kart bulunan bir mobil cihaz platformu
    sunulmaktadır. Cloud tabanlı dakika bazlı kullanım sayesinde testlerinizi bu gerçek cihazlar üzerinde
    koşturabilirsiniz. Testinium cloud tabanlı kullanım dışında bilgi güvenliği gerekçesi ile iç kurulum desteği ile de
    sunulmaktadır.
    <br>
    <b>Testinium,</b>platformu farklı olarak aşağıdaki özellikleri sağlamaktadır.
    <br>
</p>

<ul>
    <li> Test planlama</li>
    <li>Cihaz seçimi</li>
    <li> Ekran çözünürlüğü seçimi</li>
    <li> Bant genişliği seçimi</li>
    <li> İşletim sistemi seçimi</li>
    <li> Zamanlama seçimi</li>
    <li> Detaylı raporlama</li>
    <li> Jenkins ve Bamboo gibi sistemlerle entegrasyon</li>
    <li> Jira entegrasyonu</li>
    <li> HP ALM entegrasyonu</li>
</ul>