<div class="row">
    <div class="col-md-10 col-sm-12" style="margin-top:-20px;margin-left: 58px;"><img width="200px" height="200px"
            src="https://sahabt.com/assets/testinium-logo.jpg">
    </div>

</div>
<div style="margin-top: -34px;">

    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="sidebar-sticky" style="align-items:center">
            <ul class="nav flex-column" style="font-size: 20px; margin-left: 58px;">

                <li class="nav-item-active">
                    <a class="nav-link" routerLink="home">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="candidates">CANDIDATES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">ABOUT US</a>
            </ul>
        </div>
    </nav>
</div>